.doughnut {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 1em;
}

.barchart {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;
}

@media (max-width: 1440px) {
  .barchart {
    max-width: 600px;
  }
}

@media (max-width: 960px) {
  .barchart {
    max-width: 500px;
    width:90%;
  }
}

@media(max-width:560px) {
  .doughnut {
    max-width: 280px;
  }
}
