/* EXPENSES HEADER */

.expenses-header {
  gap: 1em;
}

.expenses-header-filters {
  justify-content: flex-end;
  gap: 1em;
}

.datepicker,
.filter-category,
.search-field {
  display: inline-block;
  padding: 0.7em 1em;
  border: none;
  border-bottom: 2px solid var(--text-color);
  outline: none;
  border-radius: 6px;
  font-size: 1rem;
  font-family: inherit;
  transition: border 0.25s ease-in 0s;
  color: var(--text-color);
  background-color: var(--primary-clr);
  max-width: 200px;
  flex-basis: 50%;
  width: 0; /*form proper flex shrink*/
}

.search-field {
  flex-basis: 33%;
}

.filter-form {
  flex-basis: 67%;
  justify-content: flex-end;
  gap: 1em;
}

.datepicker:disabled,
.filter-category:disabled,
.search-field:disabled {
  opacity: 0.3;
}

.dark ::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%2300ccff" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.light ::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%232671f4" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.datepicker:focus,
.filter-category:focus,
.search-field:focus {
  border-bottom: 2px solid var(--accent-clr);
}

.search-field::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

/* EXPENSES LIST */

.expenses-list li {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-color);
}

.expenses-list .hidden {
  display: none;
  border: none;
}

/* styles the first visible item if it is the first child */
/* and will style the first visible item following a hidden item */
/* needed for optimistic UI deletions */

.expenses-list li:not(.hidden):first-child,
.expenses-list li.hidden + li:not(.hidden) {
  border-top: none;
}

/* these will reset all following visible items to original style*/
.expenses-list li:not(.hidden):first-child ~ li,
.expenses-list li.hidden + li:not(.hidden) ~ li {
  border-top: 1px solid var(--text-color);
}

.category-indicator {
  position: absolute;
  left: -2em;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.expenses-list li > div {
  margin: 1em 0;
}

.expense-title-cat {
  flex-basis: 60%;
}

.expense-title {
  font-weight: 700;
}

.expense-date {
  text-align: left;
  justify-self: flex-start;
  flex-basis: 10rem;
  flex-grow: 0;
}

.expense-amount {
  text-align: right;
  flex-basis: 20%;
}

/* DELETE BUTTON */

.delete-exp-icon {
  color: var(--error-clr);
  margin-left: 0.5em;
  font-size: 1.5rem;
  transform: scale(1);
}

.delete-exp-icon:hover {
  transform: scale(1.15);
  transition: transform 0.3s;
}

@media (max-width: 600px) {
  .expenses-header-filters,
  .filter-form {
    flex-direction: column;
  }

  .datepicker,
  .filter-category,
  .search-field {
    flex-basis: 100%;
    max-width: initial;
    width: initial;
  }

  .expense-title-cat {
    flex-basis: 50%;
  }

  .expense-date {
    flex-basis: 8rem;
  }

  .category-indicator {
    display: none;
  }
}
