.form-wrapper {
  width: 100%;
  border: 1px solid var(--text-color);
  padding: 2em 2em;
  border-radius: 6px;
  margin-top: 2em;
}

.form {
  margin: 0 auto;
  max-width: 500px;
}

.form-actions {
  gap: 1em;
  margin-top: 2em;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.form input,
.form select {
  color: inherit;
  font-size: inherit;
  border: 0;
  background-color: var(--primary-clr);
  outline: none;
  border-bottom: 2px solid var(--text-color);
  padding: 0.7em 1em;
  flex-basis: 75%;
}

.react-colorful {
  flex-basis: 75%;
  height:8rem !important;
}

.form select {
  border: none;
}

.form input:focus {
  border-bottom: 2px solid var(--accent-clr);
}

.form .error {
  margin-left: 25%;
}

.dark ::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23ffffff" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.light ::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23030f2c" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.form-control label {
  flex-basis: 25%;
  font-weight: 700;
}

@media (max-width: 560px) {
  .form-wrapper {
    padding: 1em;
    margin: 1em 0;
  }

  .form input,
  .form select,
  .react-colorful {
    max-width: 70%;
    margin-left: 1em;
  }

  .form .error {
    margin-left: 30%;
  }
}
