@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;1,600&display=swap");

:root {
  --primary-clr: #d4e3fd;
  --secondary-clr: #f1f6ff;
  --accent-clr: #005eff;
  --text-color: #030f2c;
  --error-clr: #ff5555;
}

:root.dark {
  --primary-clr: #0f1128;
  --secondary-clr: #171a39;
  --accent-clr: #00ccff;
  --text-color: #ffffff;
  --error-clr: #ff5555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--secondary-clr);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}

/* PAGE LAYOUT */

.page-container {
  position: relative;
  display: flex;
  max-width: 100vw;
}

.main-container {
  flex-grow: 1;
  flex-shrink: 1;
}

/* NAV PANEL */
.nav-panel {
  background-color: var(--primary-clr);
  min-height: 100vh;
  width: 14rem;
  border-right: 2px solid var(--accent-clr);
  flex-shrink: 0;
}

.logo-container {
  gap: 0.7em;
}

.logo-container h1 {
  font-size: 1.8rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.light .logo{
  filter: invert(100%) hue-rotate(215deg);
}

.title-highlight {
  color: var(--accent-clr);
  text-decoration: underline;
  letter-spacing: -1px;
}

/* NAVIGATION */

.nav a {
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  gap: 0.7em;
  align-items: center;
}

.nav a:hover {
  color: var(--accent-clr);
}

.active-navlink {
  color: var(--accent-clr);
}

.nav-icon {
  color: var(--accent-clr);
  font-size: 1.125rem;
  margin-bottom: 0.1em;
}

/* TYPOGRAPHY */

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.25rem;
}

.accent-text {
  color: var(--accent-clr);
}

/* BUTTONS AND LINK*/
.btn {
  padding: 0.7em 1.5em;
  border-radius: 6px;
  font-weight: 700;
  width: fit-content;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

.btn-primary {
  background-color: var(--accent-clr);
  color: var(--primary-clr);
  opacity: 1;
}

.btn-primary:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}

.btn-primary:disabled {
  opacity: 0.3;
}

.btn-primary:hover:disabled {
  opacity: 0.3;
  background-color: var(--accent-clr);
}

.btn-secondary {
  border: 1px solid var(--accent-clr);
}

.btn-secondary:hover {
  background-color: var(--accent-clr);
  color: var(--primary-clr);
  transition: background-color 0.2s ease-in;
}

.btn-invisible {
  background: none;
  outline: none;
  border: none;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.7;
}

/* RESETS */

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

fieldset {
  border: none;
}

/* ERROR AND CATCH BOUNDARIES */

.catch-boundary,
.error-boundary {
  text-align: center;
}

.catch-boundary h1,
.error-boundary h1 {
  font-size: calc(5vw + 5rem);
  background: linear-gradient(var(--accent-clr), var(--text-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error-boundary h1 {
  font-size: 2rem;
}

.catch-boundary p,
.error-boundary p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* THEME TOGGLE */

.theme-toggle {
  position: absolute;
  top: 1em;
  right: 2em;
  gap: 0.5em;
  border-radius: 1em;
  background-color: var(--primary-clr);
  padding: 0.5em 1em;
}

.theme-icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

/*sun icon highlighted on light mode*/
.light .theme-icon:first-of-type {
  color: var(--accent-clr);
  transition: color 0.3s ease-in;
}

/*moom icon highlighted on dark mode*/
.dark .theme-icon:last-of-type {
  color: var(--accent-clr);
  transition: color 0.3s ease-in;
}

/* LOADING SPINNER */

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border: 4px solid var(--accent-clr);
  border-radius: 6px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.85em;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-clr);
}

::-webkit-scrollbar-thumb {
  background-color: #3d3f51;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #505262;
}

::-webkit-scrollbar-button {
  background-color: var(--accent-clr);
  height: 5px;
}

/* firefox */
@supports (scrollbar-color: #3d3f51 var(--primary-clr)) {
  * {
    scrollbar-color: #3d3f51 var(--primary-clr);
  }
}

/*mobile*/

@media (max-width: 1400px) {
  :root {
    font-size: 0.9rem;
  }
}

@media (max-width: 960px) {
  :root {
    font-size: 0.85rem;
  }

  .hidden-mobile {
    display: none;
  }

  .nav-panel {
    min-width: 50px;
    width: 60px;
  }

  .logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .nav-icon {
    font-size: 2rem;
  }

  .nav-icon:hover {
    cursor: pointer;
    transform: scale(1);
  }

  .nav li {
    margin: 1.5em 0;
  }

  .active-navlink .nav-icon {
    color: var(--text-color);
  }

  .nav-icon:hover {
    cursor: pointer;
    transform: scale(1.15);
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 560px) {
  :root {
    font-size: 0.725rem;
  }

  .hidden-mobile-560 {
    display: none;
  }
}
