/* FLEX */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-right {
  margin-left: auto;
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 3em 1em;
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }
}

/* CONTAINER */

.container-constrained{
 max-width: 1000px;
 margin: 0 auto;
 width:100%; 
}

/* OTHER */

.error {
  color: var(--error-crl);
  font-weight: bold;
  margin-bottom:1em;
}

.centered{
  text-align: center;
}

/* MARGINS AND PADDINGS */

.my-1 {
  margin: 1em 0;
}

.my-2 {
  margin: 2em 0;
}

.my-3 {
  margin: 3em 0;
}

.my-4 {
  margin: 4em 0;
}

.py-1 {
  padding: 1em 0;
}

.py-2 {
  padding: 2em 0;
}

.py-3 {
  padding: 3em 0;
}

.py-4 {
  padding: 4em 0;
}

.p-5 {
  padding: 5em;
}

@media (max-width: 960px) {
  .p-5 {
    padding: 5em 3em;
  }
}

@media (max-width: 560px) {
  .p-5 {
    padding: 4em 2em 4em 3em;
  }
}
